<!doctype html>
<html lang="{{twoem.language}}">
  <head>
    <meta charset="utf-8">
    <title>{{twoem.title}}</title>
    {{> facebook/open-graph
          url=twoem.url
          description=twoem.meta_description }}
    {{> twitter/metadata
          site=config.twitter.card_username
          title=twoem.title
          description=twoem.meta_description
          url=twoem.url }}
    {{> style }}
  </head>
  <body>
{{package.repository}}
    {{> facebook/sdk appId=config.facebook.app_id }}
    <header>
      <h1><span>T</span><span>w</span><span>O</span><span>e</span><span>M</span><span>m</span><span>e</span></h1>
      <h2>{{{wording.slogan}}}<br><a href="#" class="what-is-this">¿qué es esto?</a></h2>
    </header>
    <h3>{{twoem.title}}
      <br><small>&mdash; {{wording.found}} {{twoem.view_count}} {{wording.times}} &mdash;</small>
      <a href="/">[ {{wording.newPoem}} ]</a>
    </h3>
    <p>
      <a href="#" data-js="readAsImage">{{wording.readAsImage}}</a>
      <a href="#" class="hidden" data-js="readAsText">{{wording.readAsText}}</a>
    </p>
    <section class="twoem">
      <article>{{{twoem.html}}}</article>
      <figure class="hidden"><img src="/{{twoem.id_str}}/image"></figure>
    </section>
    <div class="authors">{{wording.writtenBy}} {{#each twoem.authors}}
      <a href="{{contribution_url}}">@{{screen_name}}</a>
    {{/each}}</div>
    </p>
    {{> facebook/like url=twoem.url }}
    {{> twitter/tweet }}

    {{#if config.analytics.enabled}}
      {{> google-analytics trackingId=config.analytics.tracking_id}}
    {{/if}}
    {{> what-is-this wording=wording.whatIsThis }}

    {{#if config.twitter.widget.enabled }}
      {{> twitter/widget }}
    {{/if}}

    {{> most-popular list=popular }}

    <footer>
      hecho por <em>&hearts;</em> al arte por <a href="https://github.com/joelalejandro">@joelalejandro</a>
    </footer>

    {{> twitter/scripts }}
    {{> twoem/scripts }}
  </body>
</html>
